@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Montserrat:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: inherit;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.hidden {
  position: absolute;
  text-indent: -9999px;
  opacity: 0;
}

html,
body {
  font-size: 10px;
  overflow-x: hidden;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
}

.homeBtn {
  position: fixed;
  width: 5rem;
  height: 5rem;
  color: #d94423;
  font-weight: bold;
  left: -3rem;
  bottom: 3rem;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  font-size: 2rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1rem 1rem 1.5rem rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.homeBtn.on {
  opacity: 1;
  visibility: visible;
  left: 30px;
}

.mousePointer {
  width: 5vmax;
  height: 5vmax;
  background-color: #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  will-change: transform;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  pointer-events: none;
  transition: 0.08s;
}

.header {
  width: 100%;
  border-bottom: 1px solid #0f0f0f;
  font-family: "Montserrat", sans-serif;
  background-color: #0f0f0f;
  position: relative;
}
.header .inner {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
  height: 12rem;
  position: relative;
  /* MOBILE */
}
.header .inner h1 {
  padding-top: 30px;
  text-align: center;
  font-size: 0;
}
.header .inner .menuWeb #gnb {
  width: 100%;
}
.header .inner .menuWeb #gnb:after {
  content: "";
  display: block;
  clear: both;
}
.header .inner .menuWeb #gnb li {
  float: left;
}
.header .inner .menuWeb #gnb li a {
  display: inline-block;
  width: 196.6666666667px;
  font-size: 1.6rem;
  margin-top: 1.25em;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  color: #fff;
  transition: 0.35s;
}
.header .inner .menuWeb #gnb li a:hover {
  color: #d94423;
}
.header .inner .menuWeb #rnb {
  position: absolute;
  right: 4rem;
  top: 3rem;
}
.header .inner .menuWeb #rnb:after {
  content: "";
  display: block;
  clear: both;
}
.header .inner .menuWeb #rnb li {
  float: left;
  margin-right: 2rem;
}
.header .inner .menuWeb #rnb li:last-of-type {
  margin-right: 0;
}
.header .inner .menuWeb #rnb li a {
  font-size: 1.4rem;
  line-height: 1;
  color: #fff;
  opacity: 0.5;
  transition: 0.35s;
  display: inline-block;
  position: relative;
}
.header .inner .menuWeb #rnb li a:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 1rem;
  background-color: #fff;
  opacity: 0.5;
  margin-left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.header .inner .menuWeb #rnb li:last-of-type a:after {
  display: none;
}
.header .inner .menuWeb #rnb li:hover a {
  opacity: 1;
}
.header .inner .btnCall {
  position: fixed;
  right: 5rem;
  top: 4rem;
  width: 2rem;
  height: 2rem;
  display: none;
  z-index: 50;
  transition: 0.35s;
  mix-blend-mode: difference;
}
.header .inner .btnCall:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  transition: 0.35s;
}
.header .inner .btnCall:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  transition: 0.35s;
}
.header .inner .btnCall span {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  top: 50%;
  left: 0;
  margin-top: -1px;
  text-indent: -9999px;
  transition: 0.35s;
}
.header .inner .btnCall.on:before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
.header .inner .btnCall.on:after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
.header .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
.header .inner .menuMo {
  width: 27rem;
  height: 100vh;
  background-color: #0f0f0f;
  position: fixed;
  top: 0;
  right: -270px;
  padding: 5rem 3rem;
  z-index: 9;
  transition: 0.35s;
}
.header .inner .menuMo:after {
  content: "";
  display: block;
  clear: both;
}
.header .inner .menuMo.on {
  right: 0;
}
.header .inner .menuMo h1 {
  padding-bottom: 5rem;
  border-bottom: 1px solid #fff;
}
.header .inner .menuMo #gnbMo li a {
  display: inline-block;
  width: 100%;
  padding: 3rem 0;
  border-bottom: 1px solid #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-align: center;
}
.header .inner .menuMo #gnbMoLogin {
  margin-top: 3rem;
  float: right;
}
.header .inner .menuMo #gnbMoLogin:after {
  content: "";
  display: block;
  clear: both;
}
.header .inner .menuMo #gnbMoLogin li {
  float: left;
  margin-right: 2rem;
  position: relative;
}
.header .inner .menuMo #gnbMoLogin li:last-of-type {
  margin-right: 0;
}
.header .inner .menuMo #gnbMoLogin li:last-of-type:after {
  display: none;
}
.header .inner .menuMo #gnbMoLogin li:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 1rem;
  transform: translateY(0.4rem);
  background-color: #fff;
  margin-left: 1rem;
}
.header .inner .menuMo #gnbMoLogin li a {
  color: #fff;
  font-size: 1.4rem;
}

@media (max-width: 1179px) {
  .header .inner {
    width: 100%;
    height: 10rem;
  }
  .header .inner .menuWeb {
    display: none;
  }
  .header .inner .btnCall {
    display: block;
  }
}
.footer {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  padding: 10rem 0;
  background-color: #262626;
}
.footer .inner {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
}
.footer .inner:after {
  content: "";
  display: block;
  clear: both;
}
.footer .inner .footerTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer .inner .footerTop ul:after {
  content: "";
  display: block;
  clear: both;
}
.footer .inner .footerTop ul li {
  float: left;
  margin-left: 1.6em;
}
.footer .inner .footerTop ul li a {
  color: #fff;
  transition: 0.35s;
  font-size: 1.4rem;
}
.footer .inner .footerTop ul li a:hover {
  color: #d94423;
}
.footer .inner address {
  font-size: 1.4rem;
  width: 100%;
  color: #fff;
  line-height: 1.3;
  margin: 1.6em 0;
  border-top: 1px solid #fff;
  padding-top: 1.6em;
}
.footer .inner p {
  font-size: 1.2rem;
  line-height: 1;
  color: #fff;
  width: 100%;
}

@media (max-width: 1179px) {
  .footer {
    padding: 10rem 3rem;
  }
  .footer .inner {
    width: 100%;
  }
}
@media (max-width: 539px) {
  .footer .inner .footerTop {
    flex-wrap: wrap;
    text-align: center;
  }
  .footer .inner .footerTop h1 {
    width: 100%;
    margin-bottom: 2rem;
  }
  .footer .inner .footerTop ul {
    margin: 0 auto;
  }
}
.communityVisual {
  width: 100%;
  background: linear-gradient(-372.3deg, #0f0f0f 50%, #262626 50%);
}
.communityVisual .inner {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding-bottom: 3rem;
  border-bottom: 5px solid #fff;
}
.communityVisual .inner .desc {
  width: 60%;
  padding-top: 3rem;
  font-size: 2rem;
  line-height: 1.2;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 100;
}
.communityVisual .inner .title {
  margin-top: 15rem;
  font-size: 8rem;
  color: #fff;
  font-weight: 300;
}
.communityVisual .inner .subTitle {
  color: #fff;
  font-size: 4rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.communityVisual .inner .deco {
  position: absolute;
  color: #fff;
  top: 14rem;
  right: -10rem;
  transform: rotate(90deg);
  font-size: 3rem;
}
.communityVisual .inner .deco em {
  font-style: normal;
  color: #d94423;
  font-size: 4rem;
}

.community {
  width: 100%;
  background-color: #0f0f0f;
  padding-bottom: 10rem;
}
.community .inner {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
}
.community .inner h1 {
  color: #fff;
  font-size: 8rem;
  font-weight: 300;
  text-align: center;
  padding: 5rem 0;
}
.community .inner .tableWeb {
  width: 100%;
  border-bottom: 2px solid #fff;
  margin-bottom: 5rem;
  border-collapse: collapse;
}
.community .inner .tableWeb thead {
  display: none;
}
.community .inner .tableWeb thead tr th:nth-of-type(1) {
  width: 5%;
}
.community .inner .tableWeb thead tr th:nth-of-type(3) {
  width: 10%;
}
.community .inner .tableWeb thead tr th:nth-of-type(4) {
  width: 10%;
}
.community .inner .tableWeb thead tr th:nth-of-type(5) {
  width: 12%;
}
.community .inner .tableWeb tbody .title {
  height: 10rem;
  text-align: center;
  border-bottom: 1px solid #fff;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.community .inner .tableWeb tbody .title:last-of-type {
  border: none;
}
.community .inner .tableWeb tbody .title .boardTitle {
  text-align: left;
  padding-left: 2rem;
  cursor: pointer;
}
.community .inner .tableWeb tbody .title .boardTitle.active {
  font-weight: bold;
}
.community .inner .tableWeb tbody .title td i {
  margin-right: 1rem;
  color: #aaa;
}
.community .inner .tableWeb tbody .title td span {
  color: #fff;
  font-size: 16px;
}
.community .inner .tableWeb tbody .content {
  visibility: collapse;
}
.community .inner .tableWeb tbody .content td {
  padding: 2rem 5rem;
  color: #fff;
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.community .inner .tableWeb tbody .content.active {
  visibility: visible;
  border-bottom: 1px solid #fff;
}
.community .inner .pagination {
  width: 100%;
  text-align: center;
}
.community .inner .pagination:after {
  content: "";
  display: block;
  clear: both;
}
.community .inner .pagination .prev {
  width: 20px;
  height: 20px;
  position: relative;
  float: left;
}
.community .inner .pagination .prev:hover:before {
  top: 0;
  transform: rotate(-180deg);
  transform-origin: center center;
}
.community .inner .pagination .prev:hover:after {
  top: 100%;
  transform: rotate(180deg);
  transform-origin: center center;
}
.community .inner .pagination .prev:hover strong {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.community .inner .pagination .prev:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fff;
  top: 50%;
  left: 0;
  transform-origin: left center;
  transition: 0.35s;
  transform: rotate(-30deg);
}
.community .inner .pagination .prev:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fff;
  top: 50%;
  left: 0;
  transform-origin: left center;
  transition: 0.35s;
  transform: rotate(30deg);
}
.community .inner .pagination .prev strong {
  font-weight: normal;
  font-size: 1.2rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(100%, -50%);
  transition: 0.35s;
}
.community .inner .pagination .numbers {
  display: inline-block;
  text-align: center;
  font-size: 0;
}
.community .inner .pagination .numbers a {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  width: 3rem;
  height: 3rem;
  font-size: 1.4rem;
  line-height: 3rem;
  color: #fff;
  margin: 0 0.5rem;
  transition: 0.35s;
}
.community .inner .pagination .numbers a:hover {
  background-color: #fff;
  border-radius: 0.5rem;
  color: #0f0f0f;
}
.community .inner .pagination .next {
  width: 2rem;
  height: 2rem;
  position: relative;
  float: right;
}
.community .inner .pagination .next:hover:before {
  top: 0;
  transform: rotate(180deg);
  transform-origin: center center;
}
.community .inner .pagination .next:hover:after {
  top: 100%;
  transform: rotate(-180deg);
  transform-origin: center center;
}
.community .inner .pagination .next:hover strong {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.community .inner .pagination .next:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fff;
  top: 50%;
  right: 0;
  transform-origin: right center;
  transition: 0.35s;
  transform: rotate(30deg);
}
.community .inner .pagination .next:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fff;
  top: 50%;
  right: 0;
  transform-origin: right center;
  transition: 0.35s;
  transform: rotate(-30deg);
}
.community .inner .pagination .next strong {
  font-weight: normal;
  font-size: 1.2rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-150%, -50%);
  transition: 0.35s;
}
.community .inner .tableMo {
  width: 100%;
  border-bottom: 2px solid #fff;
  margin-bottom: 5rem;
  border-collapse: collapse;
  display: none;
}
.community .inner .tableMo thead {
  display: none;
}
.community .inner .tableMo thead tr th:nth-of-type(1) {
  width: 100%;
}
.community .inner .tableMo tbody .title {
  height: 10rem;
  text-align: center;
  border-bottom: 1px solid #fff;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.community .inner .tableMo tbody .title:last-of-type {
  border: none;
}
.community .inner .tableMo tbody .title .boardTitle {
  text-align: center;
  cursor: pointer;
}
.community .inner .tableMo tbody .title .boardTitle.active {
  font-weight: bold;
}
.community .inner .tableMo tbody .title td span {
  color: #fff;
  font-size: 1.6rem;
}
.community .inner .tableMo tbody .content {
  visibility: collapse;
}
.community .inner .tableMo tbody .content td p {
  padding: 2rem 5rem;
  color: #fff;
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.community .inner .tableMo tbody .content td p .info {
  display: block;
  padding-bottom: 2rem;
  font-size: 0;
}
.community .inner .tableMo tbody .content td p .info .writer {
  display: inline-block;
  width: 33.3333333333%;
  font-size: 1.2rem;
}
.community .inner .tableMo tbody .content td p .info .writer i {
  margin-right: 1rem;
}
.community .inner .tableMo tbody .content td p .info .view {
  display: inline-block;
  width: 33.3333333333%;
  font-size: 1.2rem;
}
.community .inner .tableMo tbody .content td p .info .view i {
  margin-right: 1rem;
}
.community .inner .tableMo tbody .content td p .info .date {
  display: inline-block;
  width: 33.3333333333%;
  font-size: 1.2rem;
}
.community .inner .tableMo tbody .content td p .info .date i {
  margin-right: 1rem;
}
.community .inner .tableMo tbody .content.active {
  visibility: visible;
  border-bottom: 1px solid #fff;
}
.community .inner .paginationMo {
  display: none;
  padding-bottom: 5rem;
}
.community .inner .paginationMo:after {
  content: "";
  display: block;
  clear: both;
}
.community .inner .paginationMo .prev {
  float: left;
  font-size: 1.5rem;
  color: #fff;
}
.community .inner .paginationMo .next {
  float: right;
  font-size: 1.5rem;
  color: #fff;
}

@media (max-width: 1179px) {
  .communityVisual {
    padding: 0 3rem;
  }
  .communityVisual .inner {
    width: 100%;
  }
  .communityVisual .inner .title {
    padding-bottom: 2rem;
  }

  .community {
    padding: 0 3rem;
  }
  .community .inner {
    width: 100%;
  }
  .community .inner .tableWeb {
    display: none;
  }
  .community .inner .pagination {
    display: none;
  }
  .community .inner .tableMo {
    display: block;
  }
  .community .inner .tableMo tbody .title td span {
    font-size: 3vmin;
  }
  .community .inner .tableMo tbody .content td p {
    font-size: 2.5vmin;
  }
  .community .inner .paginationMo {
    display: block;
  }
}
@media (max-width: 539px) {
  .communityVisual {
    padding: 0 3rem;
  }
  .communityVisual .inner {
    width: 100%;
  }
  .communityVisual .inner .title {
    padding-bottom: 2rem;
    font-size: 6.5rem;
  }

  .community .inner .tableMo tbody .title td span {
    font-size: 3.5vmin;
  }
  .community .inner .tableMo tbody .content td p {
    font-size: 3vmin;
  }
}
.visual {
  font-family: "Lato", sans-serif;
  width: 100%;
  height: calc(100vh - 12rem);
  overflow: hidden;
  background-color: #0f0f0f;
  position: relative;
}
.visual video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}
.visual .inner {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.visual .inner .desc {
  width: 60rem;
  height: 60rem;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.visual .inner .desc .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 40% 60% 65% 35%/40% 45% 55% 60%;
  opacity: 1;
  transition: 0.5s;
}
.visual .inner .desc .circle:nth-of-type(1) {
  animation: circle 5s linear infinite;
}
.visual .inner .desc .circle:nth-of-type(2) {
  animation: circle 10s linear infinite;
}
.visual .inner .desc .circle:nth-of-type(3) {
  animation: circle 15s linear infinite;
}
.visual .inner .desc .circle:nth-of-type(2) {
  animation-direction: reverse;
}
.visual .inner .desc div {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.visual .inner .desc div h1 {
  width: 100%;
  font-size: 3.6rem;
  line-height: 1;
  color: #fff;
  margin-bottom: 0.55em;
}
.visual .inner .desc div h1 span {
  color: #d94423;
  display: block;
  font-size: 4.8rem;
}
.visual .inner .desc div p {
  width: 100%;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #fff;
  margin-bottom: 3.75em;
}
.visual .inner .desc div a {
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.5em 1em;
  border-radius: 3px;
  transition: 0.35s;
  font-size: 1.4rem;
}
.visual .inner .desc div a:hover {
  background-color: #d94423;
  border: 1px solid #d94423;
}

.feature {
  width: 100%;
  background: #262626 url("https://www.transparenttextures.com/patterns/snow.png") fixed;
  padding: 10rem 0;
  font-family: "Lato", sans-serif;
  position: relative;
}
.feature .inner {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
}
.feature .inner h1 {
  text-align: center;
  color: #fff;
  font-size: 4rem;
  margin-bottom: 5rem;
  position: relative;
}
.feature .inner .wrap {
  width: 100%;
  display: flex;
  gap: 2%;
}
.feature .inner .wrap article {
  width: 100%;
  text-align: center;
  opacity: 0;
  transform: translateY(-100px);
  transition: 0.5s;
  cursor: pointer;
}
.feature .inner .wrap article:hover .pic img {
  filter: grayscale(0);
}
.feature .inner .wrap article:hover h2 a {
  color: #d94423;
}
.feature .inner .wrap article .pic {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.feature .inner .wrap article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.35s;
  filter: grayscale(1);
}
.feature .inner .wrap article h2 {
  margin-top: 5%;
}
.feature .inner .wrap article h2 a {
  color: #fff;
  font-size: 2.4rem;
  transition: 0.35s;
  font-weight: 300;
}
.feature .inner .wrap article p {
  margin-top: 3%;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 100;
}
.feature.on .inner .wrap article {
  opacity: 1;
  transform: translateY(0);
}
.feature.on .inner .wrap article:nth-of-type(1) {
  transition-delay: 0.1s;
}
.feature.on .inner .wrap article:nth-of-type(2) {
  transition-delay: 0.2s;
}
.feature.on .inner .wrap article:nth-of-type(3) {
  transition-delay: 0.3s;
}
.feature.on .inner .wrap article:nth-of-type(4) {
  transition-delay: 0.4s;
}

.identity {
  width: 100%;
  background-color: #262626;
  padding: 10rem 0;
  font-family: "Lato", sans-serif;
  overflow: hidden;
}
.identity .identityBgBlack {
  width: 100%;
  background-color: #0f0f0f;
  height: 50rem;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  position: relative;
}
.identity .identityBgBlack:before {
  content: "";
  width: 2px;
  height: 5rem;
  background-color: #fff;
  position: absolute;
  font-size: 4rem;
  top: -5rem;
  left: 50%;
  transform: translateX(-100%);
}
.identity .identityBgBlack:after {
  content: "";
  width: 2px;
  height: 5.4rem;
  background-color: #fff;
  position: absolute;
  bottom: -5.4rem;
  left: 50%;
  transform: translateX(-100%);
}
.identity .identityBgBlack .pointBgOrange {
  position: absolute;
  width: 50%;
  height: 60rem;
  top: -5rem;
  right: 0;
  overflow: hidden;
  background-color: #d94423;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.identity .identityBgBlack .pointBgOrange img {
  width: 100%;
  object-fit: cover;
  opacity: 0.25;
  filter: grayscale(1);
}
.identity .identityBgBlack .inner {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.identity .identityBgBlack .inner .title {
  font-size: 0;
  text-align: center;
  color: #fff;
}
.identity .identityBgBlack .inner .wrap {
  width: 100%;
  display: flex;
}
.identity .identityBgBlack .inner .wrap .left {
  width: 35%;
  display: flex;
  align-items: center;
}
.identity .identityBgBlack .inner .wrap .left ul li {
  margin-bottom: 5rem;
}
.identity .identityBgBlack .inner .wrap .left ul li:last-of-type {
  margin-bottom: 0;
}
.identity .identityBgBlack .inner .wrap .left ul li h2 {
  color: #fff;
  font-size: 2.4rem;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #fff;
}
.identity .identityBgBlack .inner .wrap .left ul li p {
  color: #fff;
  font-size: 1.4rem;
  padding-top: 0.5em;
  line-height: 1.2;
  font-weight: 300;
}
.identity .identityBgBlack .inner .wrap .right {
  width: 65%;
  padding: 3rem 0 3rem 7rem;
}
.identity .identityBgBlack .inner .wrap .right .pic {
  width: 100%;
  height: 100%;
  border: 1rem solid #fff;
  overflow: hidden;
}
.identity .identityBgBlack .inner .wrap .right .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}
.identity .identityBgBlack .inner .wrap .right .pic img:hover {
  transform: scale(1.2);
}

.product {
  width: 100%;
  background-color: #0f0f0f;
  padding: 10rem 0;
  font-family: "Lato", sans-serif;
  position: relative;
  overflow: hidden;
}
.product h1 {
  text-align: center;
  color: #fff;
  font-size: 4rem;
  margin-bottom: 1.25em;
}
.product .inner {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
}
.product .inner .productSwiper .swiper-wrapper:after {
  content: "";
  display: block;
  clear: both;
}
.product .inner .productSwiper .swiper-wrapper .swiper-slide {
  width: 20%;
  float: left;
}
.product .inner .productSwiper .swiper-wrapper .swiper-slide:hover h3 {
  color: #d94423;
}
.product .inner .productSwiper .swiper-wrapper .swiper-slide:hover h3:before {
  background-color: #d94423;
}
.product .inner .productSwiper .swiper-wrapper .swiper-slide a {
  position: relative;
}
.product .inner .productSwiper .swiper-wrapper .swiper-slide a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}
.product .inner .productSwiper .swiper-wrapper .swiper-slide h3 {
  margin: 1.5em 0 1em;
  color: #fff;
  position: relative;
  transition: 0.35s;
  text-align: center;
  font-size: 2rem;
}
.product .inner .productSwiper .swiper-wrapper .swiper-slide h3:before {
  content: "";
  position: absolute;
  width: 5em;
  height: 1px;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
  top: -0.75em;
  transition: 0.35s;
}

.policy {
  width: 100%;
  background-color: #0f0f0f;
  padding: 10rem 0;
  font-family: "Lato", sans-serif;
  position: relative;
  overflow: hidden;
}
.policy .policyPointBg {
  position: absolute;
  width: 100%;
  height: 30rem;
  background-color: #d94423;
  top: 50%;
  transform: translateY(-50%);
}
.policy .inner {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #262626;
  padding: 1rem;
}
.policy .inner .pointTitlePc {
  position: absolute;
  top: -6rem;
  left: 0;
  color: #fff;
  font-size: 5rem;
  width: 100%;
  text-align: center;
}
.policy .inner .pointTitlePc span {
  color: #d94423;
}
.policy .inner .pointTitleMo {
  position: absolute;
  top: -10rem;
  left: 0;
  color: #fff;
  font-size: 3rem;
  width: 100%;
  text-align: center;
  display: none;
}
.policy .inner .pointTitleMo span {
  display: block;
  font-size: 4rem;
  color: #d94423;
}
.policy .inner .wrap {
  width: 100%;
  height: 100%;
  border: 2px solid #0f0f0f;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  background-color: #262626;
  position: relative;
}
.policy .inner .wrap .pic {
  width: 40%;
  left: 0;
  background-color: #262626;
  overflow: hidden;
}
.policy .inner .wrap .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
  animation: scale 2s linear infinite alternate;
}
.policy .inner .wrap .desc {
  width: 55%;
  padding-left: 5%;
  text-align: center;
  border-left: 1px solid #fff;
}
.policy .inner .wrap .desc h1 {
  font-size: 4rem;
  color: #fff;
  margin-bottom: 1.25em;
}
.policy .inner .wrap .desc .policySwiper .policySwiper-button-prev {
  color: #fff;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border: 1px solid #fff;
  position: absolute;
  top: 0;
  right: 4rem;
  cursor: pointer;
  z-index: 9;
}
.policy .inner .wrap .desc .policySwiper .policySwiper-button-prev.swiper-button-disabled {
  opacity: 0.5;
}
.policy .inner .wrap .desc .policySwiper .policySwiper-button-next {
  color: #fff;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  border: 1px solid #fff;
  position: absolute;
  top: 0px;
  right: 1rem;
  cursor: pointer;
  z-index: 9;
}
.policy .inner .wrap .desc .policySwiper .policySwiper-button-next.swiper-button-disabled {
  opacity: 0.5;
}
.policy .inner .wrap .desc .policySwiper .swiper-wrapper:after {
  content: "";
  display: block;
  clear: both;
}
.policy .inner .wrap .desc .policySwiper .swiper-wrapper .swiper-slide {
  width: 100%;
  float: left;
}
.policy .inner .wrap .desc .policySwiper .swiper-wrapper .swiper-slide h3 {
  color: #fff;
  font-weight: bold;
  font-size: 2.4rem;
  padding-bottom: 1.25em;
  border-bottom: 1px solid #fff;
  text-align: left;
}
.policy .inner .wrap .desc .policySwiper .swiper-wrapper .swiper-slide span {
  display: block;
  color: #fff;
  font-size: 1.6rem;
  padding: 1.875em 0;
  line-height: 1.4;
  text-align: left;
  font-weight: 300;
}
.policy .inner .wrap .logo {
  margin-top: 10em;
}

@media (max-width: 1179px) {
  .visual {
    height: calc(100vh - 10rem);
  }
  .visual .inner {
    width: 100%;
    padding: 0 3rem;
  }
  .visual .inner .desc {
    width: 100%;
  }
  .visual .inner .desc .circle {
    opacity: 0;
    visibility: hidden;
  }
  .visual .inner .desc div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .visual .inner .desc div a {
    font-size: 2rem;
  }

  .feature {
    padding: 10rem 3rem;
  }
  .feature .inner {
    width: 100%;
  }
  .feature .inner .wrap {
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .feature .inner .wrap article {
    width: 48%;
    margin: 0 auto;
    margin-bottom: 2%;
  }
  .feature .inner .wrap article h2 {
    margin-top: 5%;
  }

  .identity {
    padding: 10rem 3rem;
  }
  .identity .identityBgBlack {
    border: none;
    height: 100%;
    padding: 10rem 0;
  }
  .identity .identityBgBlack:before {
    display: none;
  }
  .identity .identityBgBlack:after {
    display: none;
  }
  .identity .identityBgBlack .pointBgOrange {
    display: none;
  }
  .identity .identityBgBlack .inner {
    width: 100%;
    flex-wrap: wrap;
  }
  .identity .identityBgBlack .inner .title {
    width: 100%;
    font-size: 4rem;
    margin-bottom: 5rem;
  }
  .identity .identityBgBlack .inner .wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
  .identity .identityBgBlack .inner .wrap .left {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
  .identity .identityBgBlack .inner .wrap .left ul li {
    margin-bottom: 5rem;
  }
  .identity .identityBgBlack .inner .wrap .left ul li h2 {
    font-size: 3rem;
  }
  .identity .identityBgBlack .inner .wrap .left ul li p {
    font-size: 1.8rem;
  }
  .identity .identityBgBlack .inner .wrap .right {
    width: 80%;
    padding: 0;
  }

  .product {
    padding: 10rem 3rem;
  }
  .product .inner {
    width: 100%;
  }

  .policy {
    padding: 10rem 3rem;
  }
  .policy .policyPointBg {
    display: none;
  }
  .policy .inner {
    width: 100%;
  }
  .policy .inner .pointTitlePc {
    display: none;
  }
  .policy .inner .pointTitleMo {
    display: block;
  }
  .policy .inner .wrap {
    height: auto;
    flex-wrap: wrap;
  }
  .policy .inner .wrap .pic {
    width: 50%;
    margin: 0 auto;
    transform: rotate(90deg);
  }
  .policy .inner .wrap .desc {
    width: 80%;
    margin: 0 auto;
    padding-left: 0;
    border: none;
  }
  .policy .inner .wrap .desc .policySwiper .swiper-wrapper .swiper-slide h3 {
    font-size: 2rem;
    padding-bottom: 1.5em;
    text-align: center;
  }
  .policy .inner .wrap .desc .policySwiper .swiper-wrapper .swiper-slide span {
    font-size: 2rem;
    margin-bottom: 5rem;
  }
  .policy .inner .wrap .desc .policySwiper .policySwiper-button-prev {
    top: auto;
    bottom: 0;
    left: 0;
  }
  .policy .inner .wrap .desc .policySwiper .policySwiper-button-next {
    top: auto;
    bottom: 0;
    right: 0;
  }
  .policy .inner .wrap .logo {
    margin-top: 6em;
  }
}
@media (max-width: 539px) {
  .feature .inner .wrap article {
    width: 100%;
    margin-bottom: 10%;
  }
  .feature .inner .wrap article h2 {
    margin-top: 5%;
  }
  .feature .inner .wrap article h2 a {
    font-size: 3rem;
  }
  .feature .inner .wrap article p {
    font-size: 2rem;
  }

  .identity .identityBgBlack .pointBgOrange {
    display: none;
  }
  .identity .identityBgBlack .inner .wrap .left ul li h2 {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }
  .identity .identityBgBlack .inner .wrap .left ul li p {
    font-size: 2rem;
  }

  .policy .inner .wrap .pic {
    width: 60%;
  }
}
.membersVisual {
  width: 100%;
  background: linear-gradient(-372.3deg, #0f0f0f 50%, #262626 50%);
}
.membersVisual .inner {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding-bottom: 3rem;
  border-bottom: 5px solid #fff;
}
.membersVisual .inner .desc {
  width: 60%;
  padding-top: 3rem;
  font-size: 2rem;
  line-height: 1.2;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 100;
}
.membersVisual .inner .title {
  margin-top: 15rem;
  font-size: 8rem;
  color: #fff;
  font-weight: 300;
}
.membersVisual .inner .subTitle {
  color: #fff;
  font-size: 4rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.membersVisual .inner .deco {
  position: absolute;
  color: #fff;
  top: 14rem;
  right: -10rem;
  transform: rotate(90deg);
  font-size: 3rem;
}
.membersVisual .inner .deco em {
  font-style: normal;
  color: #d94423;
  font-size: 4rem;
}

.members {
  width: 100%;
  background-color: #0f0f0f;
}
.members .inner {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
}
.members .inner .wrap {
  padding-top: 10rem;
}
.members .inner .wrap .member {
  width: 100%;
  box-sizing: border-box;
  font-size: 0;
  padding-bottom: 10rem;
}
.members .inner .wrap .member:hover .desc h3 {
  color: #d94423;
}
.members .inner .wrap .member:hover .desc p span {
  width: 100%;
}
.members .inner .wrap .member .pic {
  display: inline-block;
  width: 30%;
  font-size: 0;
}
.members .inner .wrap .member .pic .card {
  color: #d94423;
  writing-mode: tb-rl;
  display: inline-block;
  letter-spacing: 1.5px;
  width: 6%;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
}
.members .inner .wrap .member .pic .imgWrap {
  display: inline-block;
  width: 90%;
}
.members .inner .wrap .member .pic .imgWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}
.members .inner .wrap .member .desc {
  width: 70%;
  display: inline-block;
  font-size: 0;
}
.members .inner .wrap .member .desc h3 {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 4rem;
  margin-bottom: 3rem;
  font-weight: 300;
  transition: 0.35s;
}
.members .inner .wrap .member .desc p {
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: 2rem;
  font-weight: 100;
}
.members .inner .wrap .member .desc p span {
  display: block;
  margin: 2rem 0;
  width: 0;
  height: 3rem;
  background-color: #d94423;
  transition: 0.5s;
}
.members .inner .wrap .member.memberLeft .desc {
  padding-left: 2rem;
}
.members .inner .wrap .member.memberRight .desc {
  padding-right: 2rem;
}

.membersMo {
  display: none;
  background-color: #0f0f0f;
  padding: 10rem 3rem;
}
.membersMo .inner {
  width: 100%;
}
.membersMo .inner .wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}
.membersMo .inner .wrap .card {
  width: 48%;
  margin-bottom: 5%;
}
.membersMo .inner .wrap .card .pic {
  max-width: 26rem;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 1rem;
  font-size: 0;
  position: relative;
}
.membersMo .inner .wrap .card .pic:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 3rem;
  width: 70%;
  height: 2px;
  background-color: #d94423;
  opacity: 0.6;
}
.membersMo .inner .wrap .card .pic:after {
  content: attr(data-name);
  position: absolute;
  bottom: 4rem;
  right: 0;
  width: 80%;
  height: 4rem;
  background-color: #d94423;
  opacity: 0.6;
  font-size: 2.6rem;
  line-height: 4.5rem;
  text-align: center;
  color: #fff;
  font-family: "Sacramento", cursive;
}
.membersMo .inner .wrap .card .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}
.membersMo .inner .wrap .card .desc {
  width: 100%;
  margin-top: 1.5rem;
  text-align: center;
}
.membersMo .inner .wrap .card .desc h3 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 2.4rem;
  font-weight: 300;
}
.membersMo .inner .wrap .card .desc a {
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.5em 1em;
  border-radius: 3px;
  transition: 0.35s;
  font-size: 1.4rem;
  margin-top: 1rem;
}
.membersMo .inner .wrap .card .desc a:hover {
  background-color: #d94423;
  border: 1px solid #d94423;
}

.membersMoModal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.35s;
  z-index: 9999;
}
.membersMoModal.on {
  opacity: 1;
  visibility: visible;
}
.membersMoModal .overlay {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  top: 0;
  left: 0;
  background-color: #0f0f0f;
}
.membersMoModal .modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80vh;
  opacity: 1;
  background-color: #262626;
  border-radius: 1rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.8);
  padding: 3rem;
}
.membersMoModal .modalBox h1 {
  color: #fff;
  font-size: 5vmin;
  border-bottom: 1px solid #d94423;
  padding-bottom: 2rem;
}
.membersMoModal .modalBox p {
  color: #fff;
  padding-top: 3rem;
  font-size: 2.7vmin;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.membersMoModal .modalBox .modalClose {
  position: absolute;
  top: 3rem;
  right: 3rem;
  font-size: 2.6rem;
  color: #fff;
}

@media (max-width: 1179px) {
  .membersVisual {
    padding: 0 3rem;
  }
  .membersVisual .inner {
    width: 100%;
  }
  .membersVisual .inner .title {
    padding-bottom: 2rem;
  }

  .members {
    display: none;
  }

  .membersMo {
    display: block;
  }
}
@media (max-width: 539px) {
  .membersVisual .inner {
    padding-bottom: 3rem;
  }
  .membersVisual .inner .title {
    padding-bottom: 3rem;
  }

  .membersMo {
    padding: 3rem 3rem;
  }
  .membersMo .inner .wrap .card {
    width: 100%;
  }

  .membersMoModal .modalBox p {
    font-size: 2.9vmin;
  }
}

/*# sourceMappingURL=style.css.map */
