@charset "UTF-8";
@import "reset";
@import "font";
@import "mixin";
@import "color";
@import "animation";
@import "stars";

#header {
  width: 100%;
  border-bottom: 1px solid $bgBlack;
  font-family: "Montserrat", sans-serif;
  background-color: $bgBlack;
  position: relative;

  .inner {
    @include inner;
    height: 120px;
    position: relative;

    h1 {
      padding-top: 30px;
      text-align: center;
      font-size: 0;
    }

    .menuWeb {
      #gnb {
        width: 100%;
        @include clear;

        li {
          float: left;

          a {
            display: inline-block;
            width: calc(1180px / 6);
            margin-top: 20px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: #fff;
            transition: 0.35s;

            &:hover {
              color: $pointColor;
            }
          }
        }
      }

      #rnb {
        position: absolute;
        right: 40px;
        top: 30px;
        @include clear;

        li {
          float: left;
          margin-right: 20px;

          &:last-of-type {
            margin-right: 0;
          }

          a {
            font-size: 14px;
            line-height: 1;
            color: #fff;
            opacity: 0.5;
            transition: 0.35s;
            display: inline-block;
            position: relative;

            &:after {
              content: "";
              position: absolute;
              width: 1px;
              height: 10px;
              background-color: #fff;
              opacity: 0.5;
              margin-left: 10px;
              top: 50%;
              transform: translateY(-50%);
            }
          }

          &:last-of-type {
            a {
              &:after {
                display: none;
              }
            }
          }

          &:hover {
            a {
              opacity: 1;
            }
          }
        }
      }
    }

    /* MOBILE MENU BTN */
    .btnCall {
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      display: none;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        top: 0;
        left: 0;
        transition: 0.35s;
      }

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        bottom: 0;
        left: 0;
        transition: 0.35s;
      }

      span {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        top: 50%;
        left: 0;
        margin-top: -1px;
        text-indent: -9999px;
        transition: 0.35s;
      }

      &.on {
        &:before {
          top: 50%;
          margin-top: -1px;
          transform: rotate(45deg);
        }

        &:after {
          bottom: 50%;
          margin-bottom: -1px;
          transform: rotate(-45deg);
        }

        span {
          transform: translateX(100%);
          opacity: 0;
        }
      }
    }

    /* MOBILE */
    .menuMo {
      width: 270px;
      height: 100vh;
      background-color: $bgBlack;
      position: fixed;
      top: 0;
      left: -270px;
      padding: 35px 30px;
      z-index: 9;
      transition: 0.35s;

      &.on {
        left: 0;
      }

      h1 {
        padding-bottom: 30px;
        border-bottom: 1px solid #fff;

        a {
          display: inline-block;
          font-weight: bold;
          font-size: 24px;
          line-height: 1;
          color: #fff;
          text-align: center;
        }

        span {
          font-size: 12px;
          color: #fff;
        }
      }

      #gnbMo {
        li {
          a {
            display: inline-block;
            width: 100%;
            padding: 20px 0;
            border-bottom: 1px solid #fff;
            font-weight: bold;
            font-size: 14px;
            line-height: 1;
            font-family: "Montserrat", sans-serif;
            color: #fff;
            text-align: center;
          }
        }
      }
    }
  }
}

#visual {
  width: 100%;
  height: calc(100vh - 120px);
  overflow: hidden;
  background-color: $bgBlack;
  position: relative;
  font-family: "Lato", sans-serif;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
  }

  .inner {
    @include inner;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .desc {
      width: 600px;
      height: 600px;
      margin: 0 auto;
      text-align: center;
      position: relative;

      .circle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid #fff;
        border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;

        @for $i from 1 through 3 {
          &:nth-of-type(#{$i}) {
            animation: circle 5s * $i linear infinite;
          }
        }

        &:nth-of-type(2) {
          animation-direction: reverse;
        }
      }

      div {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        h1 {
          width: 100%;
          font-size: 36px;
          line-height: 1;
          color: #fff;
          margin-bottom: 20px;

          span {
            color: $pointColor;
            display: block;
            font-size: 48px;
          }
        }

        p {
          width: 100%;
          font-size: 16px;
          line-height: 1.4;
          color: #fff;
          margin-bottom: 60px;
        }

        a {
          @include btn();
        }
      }
    }
  }
}

#feature {
  width: 100%;
  background: $bgGray
    url("https://www.transparenttextures.com/patterns/snow.png") fixed;
  padding: 100px 0;
  font-family: "Lato", sans-serif;
  position: relative;

  .inner {
    @include inner;
    position: relative;

    h1 {
      text-align: center;
      color: #fff;
      font-size: 40px;
      margin-bottom: 50px;
      position: relative;
      font-family: "Raleway", sans-serif;
      font-weight: bold;
    }

    .wrap {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      article {
        width: 280px;
        margin-right: 20px;
        text-align: center;
        opacity: 0;
        transform: translateY(-100px);
        transition: 0.5s;
        cursor: pointer;

        &:hover {
          .pic {
            img {
              filter: grayscale(0);
            }
          }

          h2 {
            a {
              color: $pointColor;
            }
          }
        }

        .pic {
          width: 100%;
          border-radius: 5px;
          overflow: hidden;

          img {
            width: inherit;
            height: inherit;
            object-fit: cover;
            filter: grayscale(1);
            transition: 0.35s;
          }
        }

        h2 {
          margin-top: 20px;

          a {
            color: #ddd;
            font-size: 24px;
            transition: 0.35s;
          }
        }

        p {
          margin-top: 15px;
          color: #ddd;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  &.on {
    .inner {
      .wrap {
        article {
          opacity: 1;
          transform: translateY(0);

          @for $i from 1 through 4 {
            &:nth-of-type(#{$i}) {
              transition-delay: 0.1s * $i;
            }
          }
        }
      }
    }
  }
}

#identity {
  width: 100%;
  background-color: $bgGray;
  padding: 150px 0;
  font-family: "Lato", sans-serif;
  position: relative;
  overflow: hidden;

  .identityBgBlack {
    width: 100%;
    background-color: $bgBlack;
    height: 500px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    position: relative;

    &:before {
      content: "";
      width: 2px;
      height: 50px;
      background-color: #fff;
      position: absolute;
      font-size: 40px;
      top: -50px;
      left: 50%;
      transform: translateX(-100%);
    }

    &:after {
      content: "";
      width: 2px;
      height: 54px;
      background-color: #fff;
      position: absolute;
      bottom: -54px;
      left: 50%;
      transform: translateX(-100%);
    }

    .pointBgOrange {
      position: absolute;
      width: 50%;
      height: 600px;
      top: -50px;
      right: 0;
      overflow: hidden;
      background-color: $pointColor;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;

      img {
        width: 100%;
        object-fit: cover;
        opacity: 0.25;
        filter: grayscale(1);
      }
    }

    .inner {
      @include inner;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .title {
        font-size: 0;
      }

      .wrap {
        width: 100%;
        display: flex;

        .left {
          width: 35%;
          display: flex;
          align-items: center;

          ul {
            li {
              margin-bottom: 50px;

              &:last-of-type {
                margin-bottom: 0;
              }

              h2 {
                color: #ddd;
                font-size: 24px;
                padding-bottom: 10px;
                border-bottom: 1px solid #ddd;
              }

              p {
                color: #ddd;
                padding-top: 10px;
                line-height: 1.2;
              }
            }
          }
        }

        .right {
          width: 65%;
          padding: 30px 0 30px 70px;

          .pic {
            width: 100%;
            height: 100%;
            border: 10px solid #fff;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: 1s;

              &:hover {
                transform: scale(1.2);
              }
            }
          }
        }
      }
    }
  }
}

#product {
  width: 100%;
  background-color: $bgBlack;
  padding: 80px 0;
  font-family: "Lato", sans-serif;
  position: relative;
  overflow: hidden;
  position: relative;

  .skewBgGray {
    width: 200%;
    height: 100%;
    background-color: $bgGray;
    position: absolute;
    top: 0;
    transform: skew(0, 10deg);
  }

  h1 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin-bottom: 50px;
    position: relative;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
  }

  .inner {
    @include inner;

    .productSwiper {
      .swiper-wrapper {
        .swiper-slide {
          width: 20%;
          float: left;

          &:hover {
            h3 {
              color: $pointColor;

              &:before {
                background-color: $pointColor;
              }
            }
          }

          a {
            position: relative;

            img {
              width: 100%;
              object-fit: cover;
              object-position: 0 0px;
            }
          }

          h3 {
            margin: 30px 0 20px;
            color: #ddd;
            position: relative;
            transition: 0.35s;
            text-align: center;

            &:before {
              content: "";
              position: absolute;
              width: 100px;
              height: 1px;
              background-color: #ddd;
              left: 50%;
              transform: translateX(-50%);
              top: -15px;
              transition: 0.35s;
            }
          }
        }
      }
    }
  }
}

#policy {
  width: 100%;
  background-color: $bgBlack;
  padding: 100px 0;
  font-family: "Lato", sans-serif;
  position: relative;
  overflow: hidden;

  .policyPointBg {
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: $pointColor;
    top: 50%;
    transform: translateY(-50%);
  }

  .inner {
    @include inner;
    position: relative;
    background-color: $bgGray;
    padding: 10px;

    .pointTitle {
      position: absolute;
      top: -60px;
      left: 0;
      color: #fff;
      font-size: 59px;
      width: 100%;
      text-align: center;
      font-family: "Raleway", sans-serif;

      span {
        color: $pointColor;
      }
    }

    .wrap {
      width: 100%;
      height: 100%;
      border: 2px solid $bgBlack;
      padding: 30px;
      display: flex;
      justify-content: space-between;
      position: relative;
      background-color: $bgGray;

      .pic {
        width: 40%;
        position: relative;
        left: 0px;
        background-color: $bgGray;
        overflow: hidden;

        &:hover {
          img {
            transform: scale(1.2);
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: relative;
          transition: 1s;
        }
      }

      .desc {
        width: 55%;
        padding-left: 5%;
        text-align: center;
        border-left: 1px solid #ddd;

        h1 {
          font-size: 36px;
          color: #ddd;
          margin-bottom: 50px;
        }

        .policySwiper {
          .policySwiper-button-prev {
            color: #ddd;
            font-size: 20px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border: 1px solid #ddd;
            position: absolute;
            top: 0;
            right: 40px;
            cursor: pointer;
            z-index: 9;

            &.swiper-button-disabled {
              opacity: 0.5;
            }
          }

          .policySwiper-button-next {
            color: #ddd;
            font-size: 20px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border: 1px solid #ddd;
            position: absolute;
            top: 0px;
            right: 10px;
            cursor: pointer;
            z-index: 9;

            &.swiper-button-disabled {
              opacity: 0.5;
            }
          }

          .swiper-wrapper {
            .swiper-slide {
              width: 100%;
              float: left;

              h3 {
                color: #ddd;
                font-weight: bold;
                font-size: 24px;
                padding-bottom: 30px;
                border-bottom: 1px solid #ddd;
                text-align: left;
              }

              span {
                display: block;
                color: #ddd;
                padding: 30px 0;
                line-height: 1.4;
                text-align: left;
              }
            }
          }
        }
      }

      .logo {
        margin-top: 100px;
      }
    }
  }
}

#footer {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  padding: 100px 0;
  background-color: $bgGray;

  .inner {
    @include inner;
    @include clear;

    h1 {
      float: left;
    }

    ul {
      float: right;
      @include clear;

      li {
        float: left;
        margin-left: 20px;

        a {
          color: #aaa;
          transition: 0.35s;
          font-size: 14px;

          &:hover {
            color: $pointColor;
          }
        }
      }
    }

    address {
      float: left;
      font-size: 14px;
      width: 100%;
      color: #aaa;
      line-height: 1.3;
      margin: 20px 0;
      border-top: 1px solid #aaa;
      padding-top: 20px;
    }

    p {
      font-size: 12px;
      line-height: 1;
      color: #777;
      width: 100%;
      float: left;
    }
  }
}

.mousePointer {
  width: 5vmax;
  height: 5vmax;
  background-color: #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  will-change: transform;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  pointer-events: none;
  transition: 0.08s;
}

button {
  position: fixed;
  width: 50px;
  height: 50px;
  color: $pointColor;
  font-weight: bold;
  left: -30px;
  bottom: 30px;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &.on {
    opacity: 1;
    visibility: visible;
    left: 30px;
  }
}

@media screen and (max-width: 1179px) {
  #header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;

    .inner {
      width: 100%;
      height: 90px;

      .menuWeb {
        display: none;
      }

      /* MOBILE MENU BTN */
      .btnCall {
        display: block;
      }
    }
  }

  #visual {
    height: 100vh;

    .inner {
      width: 100%;
      padding: 0 30px;

      .desc {
        width: 60vmin;
        height: 60vmin;

        div {
          h1 {
            font-size: 3vmin;
            margin-bottom: 10px;

            span {
              font-size: 4.05vmin;
            }
          }

          p {
            font-size: 1.4vmin;
            margin-bottom: 40px;
          }

          a {
            width: 30vmin;
            font-size: 1vmin;
          }
        }
      }
    }
  }

  #feature {
    padding: 100px 30px;

    .inner {
      width: 100%;

      h1 {
        font-size: 3.5vmin;
      }

      .wrap {
        article {
          margin: 0 auto;
          flex-basis: 45%;
          gap: 5%;
          margin-bottom: 5%;

          &:last-of-type {
            margin-right: auto;
          }

          h2 {
            margin-top: 20px;

            a {
              color: #ddd;
            }
          }

          p {
            margin-top: 15px;
          }
        }
      }
    }
  }

  #identity {
    padding: 100px 30px;

    .identityBgBlack {
      width: 100%;
      height: 100%;
      border: none;

      &:before {
        display: none;
      }

      &:after {
        display: none;
      }

      .pointBgOrange {
        display: none;
      }

      .inner {
        width: 70%;
        height: 100%;

        .wrap {
          padding: 50px 30px;
          flex-wrap: wrap;

          .left {
            width: 100%;
            margin-bottom: 50px;
          }

          .right {
            width: 100%;
            padding: 0;
          }
        }
      }
    }
  }

  #product {
    padding: 100px 30px;

    .skewBgGray {
      display: none;
    }

    .inner {
      width: 100%;
    }
  }

  #policy {
    padding: 100px 30px;

    .policyPointBg {
      display: none;
    }

    .inner {
      width: 100%;

      .pointTitle {
        display: none;
      }

      .wrap {
        flex-wrap: wrap;

        .pic {
          width: 100%;
          height: 200px;
          margin-bottom: 50px;
        }

        .desc {
          width: 100%;
          padding-left: 0;
          border: none;

          h1 {
            font-size: 36px;
            color: #ddd;
            margin-bottom: 50px;
          }

          .policySwiper {
            .policySwiper-button-prev {
            }

            .policySwiper-button-next {
            }

            .swiper-wrapper {
              .swiper-slide {
                h3 {
                  font-size: 3vmin;
                  padding-bottom: 3vmin;
                }
              }
            }
          }
        }
      }
    }
  }

  #footer {
    padding: 100px 30px;

    .inner {
      width: 100%;
    }
  }
}

@media screen and (max-width: 539px) {
  #visual {
    .inner {
      .desc {
        div {
          a {
            width: 40vmin;
            font-size: 1vmin;
          }
        }
      }
    }
  }

  #feature {
    padding: 100px 30px;

    .inner {
      width: 100%;

      h1 {
        font-size: 3.5vmin;
      }

      .wrap {
        article {
          margin: 0 auto;
          flex-basis: 100%;
          margin-bottom: 5%;

          &:last-of-type {
            margin-right: auto;
          }

          h2 {
            margin-top: 20px;

            a {
              color: #ddd;
            }
          }

          p {
            margin-top: 15px;
          }
        }
      }
    }
  }

  #policy {
    .inner {
      .wrap {
        .desc {
          .policySwiper {
            .policySwiper-button-prev {
              font-size: 12px;
              width: 20px;
              height: 20px;
              line-height: 20px;
            }

            .policySwiper-button-next {
              font-size: 12px;
              width: 20px;
              height: 20px;
              line-height: 20px;
            }

            .swiper-wrapper {
              .swiper-slide {
                h3 {
                  font-size: 3vmin;
                  padding-bottom: 3vmin;
                }
              }
            }
          }
        }
      }
    }
  }

  #footer {
    .inner {
      h1 {
        a {
          img {
            display: none;
          }
        }
      }
    }
  }
}
