.visual {
  font-family: $fontDefault;
  width: 100%;
  height: calc(100vh - 12rem);
  overflow: hidden;
  background-color: $colorBlack;
  position: relative;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
  }

  .inner {
    @include inner;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .desc {
      width: 60rem;
      height: 60rem;
      margin: 0 auto;
      text-align: center;
      position: relative;

      .circle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid $colorWhite;
        border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
        opacity: 1;
        transition: 0.5s;

        @for $i from 1 through 3 {
          &:nth-of-type(#{$i}) {
            animation: circle 5s * $i linear infinite;
          }
        }

        &:nth-of-type(2) {
          animation-direction: reverse;
        }
      }

      div {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        h1 {
          width: 100%;
          font-size: 3.6rem;
          line-height: 1;
          color: $colorWhite;
          margin-bottom: 0.55em;

          span {
            color: $colorPoint;
            display: block;
            font-size: 4.8rem;
          }
        }

        p {
          width: 100%;
          font-size: 1.6rem;
          line-height: 1.4;
          color: $colorWhite;
          margin-bottom: 3.75em;
        }

        a {
          @include btn();
        }
      }
    }
  }
}

.feature {
  width: 100%;
  background: $colorGray
    url("https://www.transparenttextures.com/patterns/snow.png") fixed;
  padding: 10rem 0;
  font-family: $fontDefault;
  position: relative;

  .inner {
    @include inner;

    h1 {
      text-align: center;
      color: $colorWhite;
      font-size: $fzTitle;
      margin-bottom: 5rem;
      position: relative;
    }

    .wrap {
      width: 100%;
      display: flex;
      gap: 2%;

      article {
        width: 100%;
        text-align: center;
        opacity: 0;
        transform: translateY(-100px);
        transition: 0.5s;
        cursor: pointer;

        &:hover {
          .pic {
            img {
              filter: grayscale(0);
            }
          }

          h2 {
            a {
              color: $colorPoint;
            }
          }
        }

        .pic {
          width: 100%;
          border-radius: 5px;
          overflow: hidden;

          img {
            @include objectFit(100%, 0.35s);
            filter: grayscale(1);
          }
        }

        h2 {
          margin-top: 5%;

          a {
            color: $colorWhite;
            font-size: 2.4rem;
            transition: 0.35s;
            font-weight: 300;
          }
        }

        p {
          margin-top: 3%;
          color: $colorWhite;
          font-size: 1.6rem;
          font-weight: 100;
        }
      }
    }
  }

  &.on {
    .inner {
      .wrap {
        article {
          opacity: 1;
          transform: translateY(0);

          @for $i from 1 through 4 {
            &:nth-of-type(#{$i}) {
              transition-delay: 0.1s * $i;
            }
          }
        }
      }
    }
  }
}

.identity {
  width: 100%;
  background-color: $colorGray;
  padding: 10rem 0;
  font-family: $fontDefault;
  overflow: hidden;

  .identityBgBlack {
    width: 100%;
    background-color: $colorBlack;
    height: 50rem;
    border-top: 2px solid $colorWhite;
    border-bottom: 2px solid $colorWhite;
    position: relative;

    &:before {
      content: "";
      width: 2px;
      height: 5rem;
      background-color: $colorWhite;
      position: absolute;
      font-size: 4rem;
      top: -5rem;
      left: 50%;
      transform: translateX(-100%);
    }

    &:after {
      content: "";
      width: 2px;
      height: 5.4rem;
      background-color: $colorWhite;
      position: absolute;
      bottom: -5.4rem;
      left: 50%;
      transform: translateX(-100%);
    }

    .pointBgOrange {
      position: absolute;
      width: 50%;
      height: 60rem;
      top: -5rem;
      right: 0;
      overflow: hidden;
      background-color: $colorPoint;
      border-top: 2px solid $colorWhite;
      border-bottom: 2px solid $colorWhite;

      img {
        width: 100%;
        object-fit: cover;
        opacity: 0.25;
        filter: grayscale(1);
      }
    }

    .inner {
      @include inner;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .title {
        font-size: 0;
        text-align: center;
        color: $colorWhite;
      }

      .wrap {
        width: 100%;
        display: flex;

        .left {
          width: 35%;
          display: flex;
          align-items: center;

          ul {
            li {
              margin-bottom: 5rem;

              &:last-of-type {
                margin-bottom: 0;
              }

              h2 {
                color: $colorWhite;
                font-size: 2.4rem;
                padding-bottom: 0.5em;
                border-bottom: 1px solid $colorWhite;
              }

              p {
                color: $colorWhite;
                font-size: 1.4rem;
                padding-top: 0.5em;
                line-height: 1.2;
                font-weight: 300;
              }
            }
          }
        }

        .right {
          width: 65%;
          padding: 3rem 0 3rem 7rem;

          .pic {
            width: 100%;
            height: 100%;
            border: 1rem solid $colorWhite;
            overflow: hidden;

            img {
              @include objectFit;

              &:hover {
                transform: scale(1.2);
              }
            }
          }
        }
      }
    }
  }
}

.product {
  width: 100%;
  background-color: $colorBlack;
  padding: 10rem 0;
  font-family: $fontDefault;
  position: relative;
  overflow: hidden;

  h1 {
    text-align: center;
    color: $colorWhite;
    font-size: 4rem;
    margin-bottom: 1.25em;
  }

  .inner {
    @include inner;

    .productSwiper {
      .swiper-wrapper {
        @include clear;

        .swiper-slide {
          width: 20%;
          float: left;

          &:hover {
            h3 {
              color: $colorPoint;

              &:before {
                background-color: $colorPoint;
              }
            }
          }

          a {
            position: relative;

            img {
              @include objectFit;
            }
          }

          h3 {
            margin: 1.5em 0 1em;
            color: $colorWhite;
            position: relative;
            transition: 0.35s;
            text-align: center;
            font-size: 2rem;

            &:before {
              content: "";
              position: absolute;
              width: 5em;
              height: 1px;
              background-color: $colorWhite;
              left: 50%;
              transform: translateX(-50%);
              top: -0.75em;
              transition: 0.35s;
            }
          }
        }
      }
    }
  }
}

.policy {
  width: 100%;
  background-color: $colorBlack;
  padding: 10rem 0;
  font-family: $fontDefault;
  position: relative;
  overflow: hidden;

  .policyPointBg {
    position: absolute;
    width: 100%;
    height: 30rem;
    background-color: $colorPoint;
    top: 50%;
    transform: translateY(-50%);
  }

  .inner {
    @include inner;
    position: relative;
    background-color: $colorGray;
    padding: 1rem;

    .pointTitlePc {
      position: absolute;
      top: -6rem;
      left: 0;
      color: $colorWhite;
      font-size: 5rem;
      width: 100%;
      text-align: center;

      span {
        color: $colorPoint;
      }
    }

    .pointTitleMo {
      position: absolute;
      top: -10rem;
      left: 0;
      color: $colorWhite;
      font-size: 3rem;
      width: 100%;
      text-align: center;
      display: none;

      span {
        display: block;
        font-size: 4rem;
        color: $colorPoint;
      }
    }

    .wrap {
      width: 100%;
      height: 100%;
      border: 2px solid $colorBlack;
      padding: 3rem;
      display: flex;
      justify-content: space-between;
      background-color: $colorGray;
      position: relative;

      .pic {
        width: 40%;
        left: 0;
        background-color: $colorGray;
        overflow: hidden;

        img {
          @include objectFit;
          animation: scale 2s linear infinite alternate;
        }
      }

      .desc {
        width: 55%;
        padding-left: 5%;
        text-align: center;
        border-left: 1px solid $colorWhite;

        h1 {
          font-size: 4rem;
          color: $colorWhite;
          margin-bottom: 1.25em;
        }

        .policySwiper {
          .policySwiper-button-prev {
            color: $colorWhite;
            font-size: 2rem;
            width: 3rem;
            height: 3rem;
            line-height: 3rem;
            border: 1px solid $colorWhite;
            position: absolute;
            top: 0;
            right: 4rem;
            cursor: pointer;
            z-index: 9;

            &.swiper-button-disabled {
              opacity: 0.5;
            }
          }

          .policySwiper-button-next {
            color: $colorWhite;
            font-size: 2rem;
            width: 3rem;
            height: 3rem;
            line-height: 3rem;
            text-align: center;
            border: 1px solid $colorWhite;
            position: absolute;
            top: 0px;
            right: 1rem;
            cursor: pointer;
            z-index: 9;

            &.swiper-button-disabled {
              opacity: 0.5;
            }
          }

          .swiper-wrapper {
            @include clear;

            .swiper-slide {
              width: 100%;
              float: left;

              h3 {
                color: $colorWhite;
                font-weight: bold;
                font-size: 2.4rem;
                padding-bottom: 1.25em;
                border-bottom: 1px solid $colorWhite;
                text-align: left;
              }

              span {
                display: block;
                color: $colorWhite;
                font-size: 1.6rem;
                padding: 1.875em 0;
                line-height: 1.4;
                text-align: left;
                font-weight: 300;
              }
            }
          }
        }
      }

      .logo {
        margin-top: 10em;
      }
    }
  }
}

@include tablet {
  .visual {
    height: calc(100vh - 10rem);

    .inner {
      width: 100%;
      padding: 0 3rem;

      .desc {
        width: 100%;

        .circle {
          opacity: 0;
          visibility: hidden;
        }

        div {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;

          a {
            font-size: 2rem;
          }
        }
      }
    }
  }

  .feature {
    padding: 10rem 3rem;

    .inner {
      width: 100%;

      .wrap {
        margin: 0 auto;
        flex-wrap: wrap;

        article {
          width: 48%;
          margin: 0 auto;
          margin-bottom: 2%;

          h2 {
            margin-top: 5%;
          }
        }
      }
    }
  }

  .identity {
    padding: 10rem 3rem;

    .identityBgBlack {
      border: none;
      height: 100%;
      padding: 10rem 0;

      &:before {
        display: none;
      }

      &:after {
        display: none;
      }

      .pointBgOrange {
        display: none;
      }

      .inner {
        width: 100%;
        flex-wrap: wrap;

        .title {
          width: 100%;
          font-size: 4rem;
          margin-bottom: 5rem;
        }

        .wrap {
          flex-wrap: wrap;
          justify-content: center;

          .left {
            width: 80%;
            margin: 0 auto;
            margin-bottom: 5rem;

            ul {
              li {
                margin-bottom: 5rem;

                h2 {
                  font-size: 3rem;
                }

                p {
                  font-size: 1.8rem;
                }
              }
            }
          }

          .right {
            width: 80%;
            padding: 0;
          }
        }
      }
    }
  }

  .product {
    padding: 10rem 3rem;

    .inner {
      width: 100%;
    }
  }

  .policy {
    padding: 10rem 3rem;

    .policyPointBg {
      display: none;
    }

    .inner {
      width: 100%;

      .pointTitlePc {
        display: none;
      }

      .pointTitleMo {
        display: block;
      }

      .wrap {
        height: auto;
        flex-wrap: wrap;

        .pic {
          width: 50%;
          margin: 0 auto;
          transform: rotate(90deg);
        }

        .desc {
          width: 80%;
          margin: 0 auto;
          padding-left: 0;
          border: none;

          .policySwiper {

            .swiper-wrapper {
              .swiper-slide {
                h3 {
                  font-size: 2rem;
                  padding-bottom: 1.5em;
                  text-align: center;
                }

                span {
                  font-size: 2rem;
                  margin-bottom: 5rem;
                }
              }
            }

            .policySwiper-button-prev {
              top: auto;
              bottom: 0;
              left: 0;
            }

            .policySwiper-button-next {
              top: auto;
              bottom: 0;
              right: 0;
            }
          }
        }

        .logo {
          margin-top: 6em;
        }
      }
    }
  }

  .mousePointer {
    display: none;
  }
}

@include mobile {
  .feature {
    .inner {
      .wrap {
        article {
          width: 100%;
          margin-bottom: 10%;

          h2 {
            margin-top: 5%;

            a {
              font-size: 3rem;
            }
          }

          p {
            font-size: 2rem;
          }
        }
      }
    }
  }

  .identity {
    .identityBgBlack {
      .pointBgOrange {
        display: none;
      }

      .inner {
        .wrap {
          .left {
            ul {
              li {
                h2 {
                  font-size: 3rem;
                  text-align: center;
                  padding-bottom: 2rem;
                  margin-bottom: 2rem;
                }

                p {
                  font-size: 2rem;
                }
              }
            }
          }
        }
      }
    }
  }

  .policy {
    .inner {
      .pointTitleMo {
        font-size: 2rem;

        span {
          font-size: 2rem;
        }
      }
      .wrap {
        .pic {
          width: 60%;
        }
      }
    }
  }
}
