.join {
  width: 100%;
  height: calc(100vh - 12rem);
  background-color: $colorBlack;
  overflow: hidden;
  position: relative;
}

.joinBox {
  @include inner;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $colorGray;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 1);
  padding: 5rem 0;

  .inner {
    padding: 5rem 10rem;

    h1 {
      text-align: center;
      color: $colorWhite;
      font-size: 4rem;
      font-weight: 300;
      margin-bottom: 3rem;
    }

    form {
      width: 100%;

      fieldset {
        display: none;
      }

      table {
        width: 100%;

        tbody {
          tr {
            height: 6rem;
            text-align: left;

            th {
              width: 50%;
              color: $colorWhite;
              font-size: 3rem;
              font-family: $fontDefault;
              font-weight: 300;

              &.genderTitle {
                &.error {
                  color: $colorPoint;
                }
              }

              &.interestTitle {
                &.error {
                  color: $colorPoint;
                }
              }
            }

            td {
              width: 50%;

              input[type="text"],
              input[type="password"] {
                width: 100%;
                height: 4rem;
                outline: none;
                font-size: 1.6rem;
                padding-left: 2rem;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid $colorWhite;
                color: $colorWhite;

                &.error {
                  border-bottom: 1px solid $colorPoint;

                  &::placeholder {
                    color: $colorPoint;
                  }
                }

                &:focus::placeholder {
                  opacity: 0;
                  visibility: hidden;
                }

                &::placeholder {
                  font-family: $fontDefault;
                  opacity: 1;
                  visibility: visible;
                  transition: opacity 0.35s;
                }
              }

              &.genderRadio {
                font-size: 0;

                .radioBtn {
                  position: relative;

                  input[type="radio"] {
                    position: absolute;
                    padding: 0;
                    overflow: hidden;
                    bottom: 0;
                    width: 0;
                    height: 0;

                    &:checked {
                      & + label {
                        &:before {
                          content: "";
                          background-color: $colorPoint;
                          border-radius: 50%;
                        }
                      }
                    }

                    & + label {
                      display: inline-block;
                      width: 50%;
                      font-size: 2rem;
                      color: $colorWhite;
                      text-align: center;
                      cursor: pointer;
                      position: relative;

                      &:before {
                        content: "";
                        display: inline-block;
                        vertical-align: middle;
                        width: 1.5rem;
                        height: 1.5rem;
                        line-height: 1.5rem;
                        text-align: center;
                        background-color: $colorWhite;
                        border-radius: 50%;
                        margin-right: 1.5rem;
                        transform: translateY(-0.2rem);
                        transition: 0.35s;
                      }
                    }
                  }
                }
              }

              &.interestCheckBox {
                font-size: 0;

                .chkBox {
                  position: relative;

                  input[type="checkbox"] {
                    position: absolute;
                    width: 0;
                    height: 0;
                    padding: 0;
                    margin: -1px;
                    overflow: hidden;
                    border: 0;

                    &:checked {
                      & + label {
                        &:before {
                          content: "";
                          background-color: $colorPoint;
                        }
                      }
                    }

                    + label {
                      display: inline-block;
                      position: relative;
                      cursor: pointer;
                      font-size: 2rem;
                      color: $colorWhite;
                      width: 25%;
                      text-align: center;

                      &:before {
                        content: "";
                        display: inline-block;
                        width: 1.5rem;
                        height: 1.5rem;
                        line-height: 1.5rem;
                        vertical-align: middle;
                        background-color: $colorWhite;
                        border: 1px solid #000;
                        margin-right: 1rem;
                        transform: translateY(-0.2rem);
                        transition: 0.35s;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      input[type="submit"] {
        margin: 5rem 0;
        @include btn();
        background-color: transparent;
        float: right;
        cursor: pointer;
        font-size: 2rem;
      }
    }
  }
}
