$tablet: 1179px;
$mobile: 539px;

$colorWhite: #fff; 
$colorBlack: #0f0f0f;
$colorGray: #262626;
$colorPoint: #d94423;

$fontDefault: "Lato", sans-serif;
$fontNav:"Montserrat", sans-serif;

$fzVisualTitle: 8rem;
$fzTitle: 4rem;